<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
>
    <testsuites>
        <testsuite name="Netgen\BirthdayBundle\Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">bundle</directory>
            <exclude>
                <directory>bundle/DependencyInjection</directory>
                <directory>bundle/Resources</directory>
                <directory>bundle/extension</directory>
                <file>bundle/NetgenBirthdayBundle.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
