/* eZAjax content
======================================*/
.class-forum .ezajaxcontent #controls-border { clear: both; overflow: hidden; background: #f5f5f5; height: 6px; }
.class-forum .ezajaxcontent .ezajax-view-content .reply_container { position: relative; overflow: hidden; }
.class-forum .ezajaxcontent .ezajax-view-content .reply_container div.author,
.class-forum .ezajaxcontent .ezajax-view-content .reply_container div.message,
.class-forum .reply_container.forum_topic div.author,
.class-forum .reply_container.forum_topic div.message { padding: 3px 10px; }
.class-forum .ezajaxcontent .ezajax-view-content .reply_container .author,
.class-forum .reply_container.forum_topic .author { float: left; width: 150px; }
.class-forum .ezajaxcontent .ezajax-view-content .reply_container .author p,
.class-forum .reply_container.forum_topic .author p { font-weight: bold; }
.class-forum .ezajaxcontent .ezajax-view-content .reply_container .message,
.class-forum .reply_container.forum_topic .message { float: left; width: 762px; }
.class-forum .ezajaxcontent .ezajax-view-content .reply_container .message p.date,
.class-forum .reply_container.forum_topic .message p.date { font-size: 0.8em; }
.class-forum .reply_container.forum_topic .message p { line-height: 22px; }
.class-forum .ezajaxcontent .ezajax-view-content .reply_container.even .message,
.class-forum .reply_container.forum_topic .message { border-left: 1px solid #fff; }
.class-forum .ezajaxcontent .ezajax-view-content .reply_container.even { background: #F5F5F5; }
.class-forum .ezajaxcontent .ezajax-view-content .reply_container .line-buttons form input#EditButton,
.class-forum .reply_container.forum_topic .line-buttons form input#EditButton { position: absolute; top: 0px; right: 0px; background: url(../images/edit.png) no-repeat !important; display: block; width: 16px; height: 16px; border: none; text-indent: -9999px; margin: 3px 10px 0px 0px; }
.class-forum .ezajaxcontent .ezajax-view-content .reply_container .line-buttons form input#EditButton:hover,
.class-forum .reply_container.forum_topic .line-buttons form input#EditButton:hover { border: none !important; }
.class-forum .ezajaxcontent .ezajax-view-content .reply_container .editContainer { clear: both; }
.class-forum .ezajaxcontent .controls { overflow: hidden; border-top: 3px solid #444; }
.class-forum .ezajaxcontent .controls form input#NewButton { float: right; padding: 8px 120px 8px 5px; margin: 0; }
.class-forum .ezajaxcontent .controls.top form input#NewButton { margin: 1em 0 2em 0; } 
.class-forum .reply_container.forum_topic { background: #F5F5F5; overflow: hidden; position: relative; }

.class-forum .reply_container.forum_topic .editContainer { clear: both; }