{% extends 'NetgenSimpleContentStorageBundle::pagelayout.html.twig' %}

{% block content %}
<div class="row">
    <div class="login-box">
        <h2>{% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"Login" } %}</h2>
        <hr/>
        <form class="form-horizontal" action="{{ path( 'login_check' ) }}" method="post">
        <fieldset>

            <input class="input-large col-xs-12" name="_username" id="username" type="text" placeholder="{% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"type username" } %}" value="{{ last_username }}" tabindex="1" />

            <input class="input-large col-xs-12" name="_password" id="password" type="password" placeholder="{% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"type password" } %}" tabindex="1"/>

            {% if error %}
            <div class="alert alert-danger">
                <p><strong>{{ error.message|trans }}</strong></p>
            </div>
            {% endif %}

            <div class="clearfix"></div>

            <button type="submit" class="btn btn-primary col-xs-12">{% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"Login" } %}</button>
        </fieldset>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <input type="hidden" name="_target_path" value="/" />
        </form>
        <hr/>
        <h3>{% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"Forgot Password?" } %}</h3>
        <p>{% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"No problem, __linkopen click here __linkclosed to get a new password" } %}</p>

        <hr/>
        <h3>{% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"Don't have an account?" } %}</h3>
        <p>{% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"Please, __linkopen click here __linkclosed to sign up." } %}</p>

    </div>
</div><!--/row-->
{% endblock %}
