{% extends 'NetgenSimpleContentStorageBundle::pagelayout.html.twig' %}

{% block content %}
<h1>{{ "Oops! An Error Occurred"|trans }}</h1>
<h2>{{ "The server returned a"|trans }} "{{ status_code }} {{ status_text }}".</h2>

<div>
    {% trans %}Something is broken. Please e-mail us at %email% and let us know
    what you were doing when this error occurred. We will fix it as soon
    as possible. Sorry for any inconvenience caused.{% endtrans %}
</div>
{% endblock %}
